
/*css for */

*{
    margin-top: 0;
    text-decoration: none; 
    text-transform: capitalize;
    padding:0;
}
html{
    
    overflow-x: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}


/*css for header*/

.header{
    background-color: #ecf0f1;
    top:0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    
    box-shadow: 0  1rem rgba(0, 0, 0, 0.1);
    
}

.header .logo{
    color:var(--main-color);
    font-size: 2.3rem;
    
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}

.header .logo i{
    padding-left: .5rem;
}

/*css for footer*/
footer{
    margin-bottom: 0%;
    padding-bottom: 0%;
}